<h1> <%= @note.title %> </h1>
<p> <%= @note.description %> </p>
<% if @note.tag %>
<p><i><u><%= @note.tag %></u></i></p>

<% end %>

<%= link_to 'Edit', edit_note_path %>
<%= link_to 'Home', root_path %>
